USE [master]
GO
/****** Object:  Database [STOCKMANAGEMENTSYSTEM]    Script Date: 11/15/2018 2:50:42 AM ******/
CREATE DATABASE [STOCKMANAGEMENTSYSTEM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STOCKMANAGEMENTSYSTEM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\STOCKMANAGEMENTSYSTEM.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'STOCKMANAGEMENTSYSTEM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\STOCKMANAGEMENTSYSTEM_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STOCKMANAGEMENTSYSTEM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STOCKMANAGEMENTSYSTEM]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/15/2018 2:50:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[SL] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[SL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 11/15/2018 2:50:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Companies](
	[SL] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[SL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Items]    Script Date: 11/15/2018 2:50:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Items](
	[SL] [int] IDENTITY(1,1) NOT NULL,
	[Item] [varchar](50) NULL,
	[Company] [varchar](50) NULL,
	[Category] [varchar](50) NULL,
	[AvailableQuantity] [int] NULL,
	[ReorderLabel] [int] NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[SL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Logins]    Script Date: 11/15/2018 2:50:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Logins](
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Stockouts]    Script Date: 11/15/2018 2:50:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Stockouts](
	[Id] [int] NULL,
	[Item] [varchar](50) NULL,
	[Category] [varchar](50) NULL,
	[Company] [varchar](50) NULL,
	[Quantity] [nchar](10) NULL,
	[Date] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([SL], [Name]) VALUES (1, N'Food')
INSERT [dbo].[Categories] ([SL], [Name]) VALUES (2, N'Cosmetics')
INSERT [dbo].[Categories] ([SL], [Name]) VALUES (3, N'Electronics')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([SL], [Name]) VALUES (1, N'Unilever')
INSERT [dbo].[Companies] ([SL], [Name]) VALUES (2, N'ACME')
INSERT [dbo].[Companies] ([SL], [Name]) VALUES (3, N'Beximco')
SET IDENTITY_INSERT [dbo].[Companies] OFF
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([SL], [Item], [Company], [Category], [AvailableQuantity], [ReorderLabel]) VALUES (1, N'Juice', N'ACME', N'Food', 490, 10)
INSERT [dbo].[Items] ([SL], [Item], [Company], [Category], [AvailableQuantity], [ReorderLabel]) VALUES (2, N'Water', N'ACME', N'Food', 495, 10)
INSERT [dbo].[Items] ([SL], [Item], [Company], [Category], [AvailableQuantity], [ReorderLabel]) VALUES (3, N'TV', N'WALTON', N'Electronics', 100, 10)
SET IDENTITY_INSERT [dbo].[Items] OFF
INSERT [dbo].[Logins] ([Name], [Email], [UserName], [Password]) VALUES (N'Md. Mehedi Hasan', N'mehedi@gmail.com', N'mehedi', N'm123456')
INSERT [dbo].[Logins] ([Name], [Email], [UserName], [Password]) VALUES (N'hasan', N'hasan@gmail.com', N'hasan', N'h123456')
INSERT [dbo].[Stockouts] ([Id], [Item], [Category], [Company], [Quantity], [Date]) VALUES (1, N'Iron', N'Electronics', N'WALTON', N'10        ', CAST(N'2018-11-12' AS Date))
INSERT [dbo].[Stockouts] ([Id], [Item], [Category], [Company], [Quantity], [Date]) VALUES (1, N'TV', N'Electronics', N'WALTON', N'40        ', CAST(N'2018-11-12' AS Date))
INSERT [dbo].[Stockouts] ([Id], [Item], [Category], [Company], [Quantity], [Date]) VALUES (1, N'Iron', N'Electronics', N'WALTON', N'90        ', CAST(N'2018-11-12' AS Date))
USE [master]
GO
